$defaultColor: #c4f8e9;
$bgColor: hsl(245, 26%, 17%);
$baseFontColor: #f3f1ea;
$emFontColor: #06a354;
$bgCodeColor: #333;
$codeColor: #dea704;
$commColor: transparentize($emFontColor,0.3);


$attrColor: #c4f8e9;
$valColor: #06a354;
$singleAttrColor: #e0670c
